
<footer class="footer-site">

    <div class="footer-site footer-site-top">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 hide">
                    <h4>Omdömen</h4>
                    <div platoon-ratings></div>
                </div>

                <div class="col-md-4 col-md-offset-1 col-xs-6">
                    <h4>Länkar</h4>
                    <ul class="no-style">
                        <li><a href="/about" target="_blank">Om oss</a></li>
                        <li><a href="https://campuscompetence.se/ths/platoon-djs" target="_blank">Gå med i Platoon DJs</a></li>
                        <li><a href="http://ths.kth.se/fest-och-event/programgruppen" target="_blank">THS Programgruppen</a></li>
                        {#<li><a href="/student-glossary/" target="_blank">Studentordlistan</a></li>#}
                        {#<li><a href="/terms-and-information" target="_blank">Villkor &amp; information</a></li>#}
                    </ul>
                </div>

                <div class="col-md-4 col-xs-6">
                    <h4>Hitta oss på</h4>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-facebook-f"></i> <a href="https://facebook.com/platoondjs" target="_blank">Facebook</a></li>
                        <li><i class="fa-li fa fa-mixcloud"></i> <a href="https://www.mixcloud.com/platoondjs" target="_blank">Mixcloud</a></li>
                        <li><i class="fa-li fa fa-instagram"></i> <a href="https://instagram.com/platoondjs" target="_blank">Instagram</a></li>
                        <li><i class="fa-li fa fa-github-alt"></i> <a href="https://github.com/platoon-djs" target="_blank">GitHub</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>Kontakt</h4>
                    <p>
                        Platoon DJs<br>
                        Drottning Kristinas Väg 15-19<br>
                        100 44 Stockholm
                    </p>

                    <p><i class="fa fa-phone"></i> <a href="tel:+46735325515">+46 (0)73-532 55 15</a><br>
                    <i class="fa fa-envelope"></i> <a href="mailto:info@platoon.se">info@platoon.se</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-site footer-site-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; Platoon DJs 2014 - {{ 'now'|date('Y') }}</p>
                </div>
            </div>
        </div>
    </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71226379-1', 'auto');
  ga('send', 'pageview');
</script>
