<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{ title is not empty ? title ~ ' - ' }}Platoon DJs</title>

{% include '@components/favicons.twig' %}

<link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/bower/bootstrap-3-timepicker/css/bootstrap-timepicker.min.css"></script>
<link rel="stylesheet" href="/css/common.min.css">

<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/bower/bootstrap-3-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.sv.min.js"></script>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-resource/angular-resource.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/js/platoon.min.js"></script>