html {
  min-height: 100%;
  position: relative; }

body {
  margin-bottom: 270px; }
  @media (max-width: 991px) {
    body {
      margin-bottom: 0; } }
  body.navbar-padding {
    padding-top: 50px; }

.page-container.container {
  padding-top: 30px;
  padding-bottom: 30px; }

.platoon-brandify {
  color: #fff; }
  .platoon-brandify .c, .platoon-brandify .p {
    color: orange;
    font-style: normal; }
  .platoon-brandify .p {
    color: green; }

ul.no-style, li.no-style {
  list-style: none;
  padding-left: 0; }

.btn-primary {
  border: 1px solid #337ab7;
  color: #337ab7;
  background-color: transparent; }
  .btn-primary:hover {
    color: #fff;
    background-color: #337ab7; }
  .btn-primary:focus {
    outline: none !important; }
  .btn-primary[disabled] {
    background-color: transparent; }

.btn-danger {
  border: 1px solid #d43f3a;
  color: #d43f3a;
  background-color: transparent; }
  .btn-danger:hover {
    color: #fff;
    background-color: #d43f3a; }
  .btn-danger:focus {
    outline: none !important; }
  .btn-danger[disabled] {
    background-color: transparent; }

footer.footer-site {
  width: 100%;
  position: absolute;
  bottom: 0; }
  @media (max-width: 991px) {
    footer.footer-site {
      position: relative; } }

.footer-site {
  color: #8c8c8c;
  background-color: #333;
  font-weight: 300; }
  .footer-site .container {
    padding: 10px 20px;
    background-color: #333; }
  .footer-site h4 {
    font-weight: inherit; }
  .footer-site a {
    color: gray;
    transition: color 0.1s; }
    .footer-site a:hover {
      color: #206ad2;
      text-decoration: none; }
  .footer-site ul.fa-ul {
    padding-left: -20px; }
  .footer-site.footer-site-top {
    height: 230px; }
    .footer-site.footer-site-top .container {
      min-height: 100%; }
    @media (max-width: 991px) {
      .footer-site.footer-site-top {
        height: auto; } }
  .footer-site.footer-site-copy {
    color: #666666;
    text-align: center; }
    .footer-site.footer-site-copy p {
      margin: 0; }
  .footer-site .container + hr {
    margin: 0; }
  .footer-site hr + .container > .row {
    margin-top: 5px;
    margin-bottom: 5px; }

header.site-header {
  background: url("/img/header/yt-dj.jpg") center no-repeat;
  background-size: cover;
  height: 500px; }

@media (max-width: 767px) {
  header.site-header {
    height: 200px; } }

nav.navbar-site {
  background: #333;
  transition: background 0.2s; }
  nav.navbar-site .navbar-toggle {
    border: 1px solid rgba(255, 255, 255, 0.5); }
    nav.navbar-site .navbar-toggle .icon-bar {
      background: rgba(255, 255, 255, 0.5); }
  nav.navbar-site .navbar-brand img {
    height: 40px;
    margin-top: -10px; }
  nav.navbar-site .navbar-nav > li img {
    height: 19px;
    vertical-align: top; }
  nav.navbar-site .navbar-nav > li.active {
    background: #404040; }
    nav.navbar-site .navbar-nav > li.active > a:hover {
      color: #fff; }
  nav.navbar-site .navbar-nav > li > a {
    color: #fff;
    transition: color 0.1s; }
    nav.navbar-site .navbar-nav > li > a:hover {
      color: #206ad2;
      background: none; }
    nav.navbar-site .navbar-nav > li > a:link {
      background: none; }
  nav.navbar-site.navbar-site-scrolled {
    background: none; }

.platoon-rating-container {
  height: 100px; }
  .platoon-rating-container .platoon-rating .stars {
    color: gold; }
    .platoon-rating-container .platoon-rating .stars .faded {
      color: rgba(255, 215, 0, 0.4); }

.page-index-mvp h4 {
  margin-bottom: 0; }

.site-about-prospect h3, .site-about-member h3 {
  margin: 0;
  margin-bottom: 5px; }

.site-about-prospect p, .site-about-member p {
  margin-bottom: 0; }

.site-about-prospect .info, .site-about-member .info {
  margin-bottom: 10px; }

.site-about-prospect img {
  width: 100%; }

.site-about-member img {
  width: 150px; }

@media (max-width: 767px) {
  .site-about-member img {
    width: 80px; }
  .site-about-prospect h3, .site-about-member h3 {
    font-size: 1em; }
  .site-about-prospect .info, .site-about-member .info {
    font-size: 0.8em;
    margin-bottom: 0; } }

.page-members h3 {
  margin-top: 0px;
  margin-bottom: 10px; }

.top-buffer {
  margin-top: 40px; }

.input-group.time .input-group-addon {
  cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
