
nav.navbar-site {

    $bg-color: #333;

    background: $bg-color;
    transition: background 0.2s;

    .navbar-toggle {
        border: 1px solid rgba(#fff, 0.5);
        .icon-bar {
            background: rgba(#fff, 0.5);
        }
    }

    .navbar-brand img {
        height: 40px;
        margin-top: -10px
    }

    .navbar-nav>li {

        img {
            height: 19px;
            vertical-align: top;
        }

        &.active {
            background: lighten($bg-color, 5%);
            &>a:hover {
                color: #fff;
            }
        }

        &>a {
            color: #fff;
            transition: color 0.1s;

            &:hover {
                color: lighten($color-royal-blue, 10%);
                background: none;
            }

            &:link {
                background: none;
            }
        }
    }

    &.navbar-site-scrolled {
        background: none;
    }
}
