{% extends '@layouts/default.twig' %}

{% block page_content %}
	<div class="page-about page-container container" ng-controller="AboutController as about">

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>Platoon DJs har förgyllt fester sedan 1988</h1>

				<p>
					Platoon DJs är Tekniska Högskolans Studentkårs (<a href="http://ths.kth.se/" target="blank">THS</a>) discjockeynämd. Då vi är en ideell förening kan vi erbjuda de mest prisvärda alternativen. Vi spelar på alla typer av fester och evenemang: studentfester, privatfester, bröllopsfester, företagsfester, nattklubbar och konferanser. Platoon DJs medlemmar har två saker gemensamt: intensiv passion för musik och studier vid Kungliga Tekniska Högskolan (KTH) i Stockholm.
				</p>

				<h1>Vi spelar överallt</h1>
				
				<p>
					Vi spelar på flera av de största studentfesterna i Stockholm, samt på ett stort antal mindre fester, allt från studentskivor och "gasquer" till vårbalar och nobelfesten! Ett av våra främsta uppdrag är även som resident-DJs på festerna i vårt kårhus Nymble, vilket ger bra träning och spelvana för våra nya medlemmar. På de största festerna hos kåren brukar det vara mellan 1800 och 2300 gäster. Men det är inte bara på studentfester du kan höra oss. Under åren har vi spelat på ställen som Bonden, Holger Bar, Sturecompagniet, Berns, Riche, Hannas, Tranan, m.fl. Vi spelar även på privatfester (såsom födelsedagsfester, disputationsfester, bröllop, m.m) och på företagsfester. Till exempel har vi spelat åt Ericsson, Sveriges Radio, McKinsey och Regeringskansliet.
				</p>

				<p class="text-center">
					<br>
					<img class="img-responsive img-thumbnail" src="/img/queue.jpg" alt="Kö till Nymble">
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<h1 id="vara-medlemmar">Våra medlemmar</h1>
						
						<p>
							I Platoon DJs har vi ett system med "Members" och "Prospects". För att bli en Member dvs. ha möjlightet att självständigt boka och spela på fester och evenemang måste man ha följt med på flera spelningar som Prospect, uppvisat att man har en god förstålese för olika musikgenrer och är serviceinriktad och genomfört ett praktiskt DJ prov. Detta gör att vi har en hög stadard på alla etablerade medlemmar.
						</p>

						<p class="text-center">
							<br>
							<img class="img-responsive img-thumbnail" src="/img/platoons-2015.jpg" alt="Platoon DJs">
							<br><br>
							<caption>Platoon DJs 2015 efter arbete på Tentapub</caption>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
