{% extends '@layouts/default.twig' %}

{% block page_content %}
    <div class="page-faq page-container container" ng-controller="FAQController as faq">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>FAQ - Frequently asked questions</h1>

                <p>
                    Här finns de vanligaste frågorna och svaren samlade som vi brukar få från våra kunder.
                    <br>
                    <br>
                </p>

                <h3>Hur sker betalning?</h3>

                <p>
                    Betalning sker alltid via faktura. Fakturan skickas efter det att spelningen är genomförd så att eventuella ändringar kan läggas till på fakturan.
                    <br>
                    <br>
                </p>

                <h3>Är priserna inkl. eller exkl. moms?</h3>

                <p>
                    Alla priser som presenteras är alltid inkl. moms.
                    <br>
                    <br>
                </p>

            </div>
        </div>
    </div>
{% endblock %}
