{% extends('@layouts/default.twig') %}

{% block page_content %}
	<header class="site-header"></header>
	
	<div class="page-container container">

		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Hyra DJ i Stockholm?</h1>
				<hr style="max-width:120px">
				<blockquote style="font-size:1.5em">
					<span class="hidden-xs">Platoon DJ's är en studentdriven DJförening baserad i Stockholm. Vi spelar på alla typer av fester och evenemang till det bästa priset.</span> Behöver du DJs till 50-års festen, brölloppet, AW'n? Vi hjälper dig! Använd vårt <a href="/booking">bokningsformulär</a> eller hör av dig till <a href="mailto:bokning@platoon.se">bokning@platoon.se</a>
				</blockquote>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
					<img class="img-responsive img-thumbnail" src="/img/header/dansgolv.jpg" alt="Dansgolv">
				</p>
			</div>
		</div>

		<hr>
		
		<div class="row">
			<div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
				<h3 class="text-center">Sommarfesten</h3>
				<p>Vem gillar inte att festa? Vi gör det i alla fall. Anlita oss och vi fixar festen. Vi ordnar allt: ljud, ljus, DJs och skön musik. Så oavsett om du behöver DJ till studentskivan, sommarjippot på företaget eller 50-års festen så kan du räkna med Platoon DJ's.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
				<h3 class="text-center">Bröllopet</h3>
				<p>Vi i Platoon DJ's är alltid lyhörda till just dina önskemål, vi spelar allt ifrån modern klubbmusik till 70-, 80- och 90-tals hits. Anlita oss och du får en professionell och personlig upplevelse som både du och dina gäster inte kommer att glömma.</p>
			</div>
			<div class="col-lg-3 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
				<h3 class="text-center">Nattliv</h3>
				<p>Är du klubbägare och behöver ansvarstagande DJs med erfarenhet, komepetens och identitet är Platoon DJ's ett givet val. Vi har medlemmar som spelar på Stockholm mest omtyckta klubbar. Tveka inte att höra av dig till <a href="mailto:bokning@platoon.se">bokning@platoon.se</a> för mer information.</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Vi är Platoon DJ's</h2>
				<hr style="max-width:120px">
				<br>
			</div>
		</div>

		<div class="row page-index-mvp">
			<div class="col-md-3 col-md-offset-1 text-center">
				<img src="/img/djs/linus.png" class="img-circle" width="120px" alt="">
				<h4>Linus</h4>
				<p>Bokningsansvarig</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="/img/djs/robin.png" class="img-circle" width="120px" alt="">
				<h4>Robin</h4>
				<p>Ordförande</p>
			</div>
			<div class="col-md-3 text-center">
				<img src="/img/djs/amanda.png" class="img-circle" width="120px" alt="">
				<h4>Amanda</h4>
				<p>Ekonomiansvarig</p>
			</div>
		</div>

		<div class="row page-index-mvp hidden-xs hidden-sm">
			<br>
			<br>
			<br>
			<div class="col-md-2 col-md-offset-2 text-center">
				<img src="/img/djs/rosan.png" class="img-circle" width="120px" alt="">
				<h4>Rosan</h4>
			</div>
			<div class="col-md-4 text-center">
				<img src="/img/djs/arvid.png" class="img-circle" width="120px" alt="">
				<h4>Arvid</h4>
			</div>
			<div class="col-md-2 text-center">
				<img src="/img/djs/junnehee.png" class="img-circle" width="120px" alt="">
				<h4>Junnehee</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
					<br><br>
					<a href="/about#vara-medlemmar" class="btn btn-primary">Klicka här för att visa alla medlemmar</a>
					<br><br>
					<a href="/booking">Boka Platoon DJ's</a>
				</p>
			</div>
		</div>

		<br><br>

	</div>
{% endblock %}
