{% extends '@layouts/default.twig' %}

{% block page_content %}
    <div class="page-join page-container container" ng-controller="JoinController as about">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Gå med i Platoon DJs</h1>

                <p>
                    Vi rekryterar nya medlemmar, så kallade Prospects, en gång om året. Detta brukar ske under augusti och september i samband med Mottagningen på KTH. Vi brukar även vara representerade under Kårens Dag i slutet av augusti. Då är man välkommen att besöka oss i kårhuset Nymble, då man bland annat kan ställa frågor till oss och även testa på att DJ:a. Då går det även givetvis bra att intresseanmälla sig om man är intresserad av att gå med i Platoon DJs.
                    <br>
                    <br>
                    Ansökningsformuläret släppas i augusti varje år och går att hitta på vår profil på <a href="https://campuscompetence.se/ths/platoon-djs" target="_blank">Campus Competence</a>. Ansökan brukar stängas mot slutet av september. Har man gjort en intresseanmälan, kommer vi sedan att kontakta dig för att boka en tid för en intervju. Intervjuerna brukar ske i slutet på september och tar cirka 15 minuter. Vi kommer sedan välja ut cirka 10-15 personer som får chansen att gå med i föreningen som Prospects. Man kommer då få chansen att lära sig DJ:a, både på egen hand och med hjälp av äldre medlemmar. Efter cirka 1-1,5 år förväntas man sedan spela upp och ta klivet till att bli fullvärdig medlem, så kallad Member.
                </p>

                <p>
                  Har du fler frågor så läs gärna vår <a href="/faq/student">FAQ</a>.
                </p>

                <h3>Ansökan för nya Prospects är nu öppen! <a href="https://campuscompetence.se/ths/platoon-djs/prospect-2017-2018" target="_blank">In och ansök!</a></h3>

                <p class="text-center">
                    <br>
                    <img class="img-responsive img-thumbnail" src="/img/platoons-2015-06-06.jpg" alt="Platoon DJs Tentapub 4 2016-06-06">
                    <br>
                    <br>
                    <caption>Platoon DJs 2015 efter Tentapub 4</caption>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
