{% extends '@layouts/default.twig' %}

{% block page_content %}
    <div class="page-members page-container container" ng-controller="MembersController as about">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Medlemmar</h1>

                <p>
                    I Platoon DJs har vi ett system med "Members" och "Prospects". För att bli en Member, det vill säga ha möjlightet att självständigt boka och spela på fester och evenemang, måste man ha följt med på flera spelningar som Prospect, uppvisat att man har en god förstålese för olika musikgenrer och är serviceinriktad och genomfört ett praktiskt DJ-prov. Detta gör att vi har en hög stadard på alla etablerade medlemmar. Här nedan presenteras alla våra aktiva Members.
                </p>
            </div>
        </div>

        <!-- === MEMBER Salt === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Joud Toumeh</h3>
                <!-- <p><strong>DJ-namn: </strong></p> -->

                <p><strong>Ansvarspost: </strong> Ordförande </p>

                <p><strong>E-post: </strong><a href="mailto:%20ordf@platoon.se">ordf@platoon.se</a></p>

                <p><strong>Genres: </strong>Tech House, Deep House &amp; Radio-hits</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/salt.jpg" width="400px" alt="Olivia">
            </p>
        </div>

        <!-- === MEMBER Joel === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Joel Weidenmark</h3>
                <!-- <p><strong>DJ-namn: </strong></p> -->

                <p><strong>Ansvarspost: </strong> Ekonomiansvarig </p>

                <p><strong>E-post: </strong><a href="mailto:%20ekonomi@platoon.se">ekonomi@platoon.se</a></p>

                <p><strong>Genres: </strong>House, Pop</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/joel.jpg" width="400px" alt="Olivia">
            </p>
        </div>

        <!-- === MEMBER STEVENS === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Alexander Stevens</h3>
                <!-- <p><strong>DJ-namn: </strong></p> -->

                <p><strong>Ansvarspost: </strong> Bokningsansvarig </p>

                <p><strong>E-post: </strong><a href="mailto:%20bokning@platoon.se">bokning@platoon.se</a></p>

                <p><strong>Genres: </strong>Oldies, HipHop</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/stevens.jpg" width="400px" alt="Olivia">
            </p>
        </div>

        <!-- === MEMBER ARVID === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Arvid Widerberg</h3>
                <!-- <p><strong>DJ-namn: </strong>Arv The Larv</p> -->

                <p><strong>Ansvarspost: </strong>Utrustningsansvarig, IT-ansvarig</p>

                <p><strong>E-post: </strong><a href="mailto:%20utrustning@platoon.se">utrustning@platoon.se</a>, <a href="mailto:%20it@platoon.se">it@platoon.se</a></p>

                <p><strong>Genres: </strong>Radio-hits, Oldies &amp; Mainstream House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/arvid.jpg" width="400px" alt="Arvid Widerberg">
            </p>
        </div>

        <!-- === MEMBER FELIX === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Felix De Silva</h3>
                <!-- <p><strong>DJ-namn: </strong></p> -->

                <p><strong>Ansvarspost: </strong>IT-ansvarig</p>

                <p><strong>E-post: </strong><a href="mailto:%20it@platoon.se">it@platoon.se</a></p>

                <p><strong>Genres: </strong>Trap, Electro House, Progressive House &amp; Deep House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/felix.jpg" width="400px" alt="Felix">
            </p>
        </div>

        <!-- === MEMBER WILLIAM === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>William Miles</h3>
                <!-- <p><strong>DJ-namn: </strong>Wigga Wille</p> -->

                <p><strong>Ansvarspost: </strong>Utrustningsansvarig</p>

                <p><strong>E-post: </strong><a href="mailto:%20utrustning@platoon.se">utrustning@platoon.se</a></p>

                <p><strong>Genres: </strong>Bounce, House &amp; Oldies</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/william.jpg" width="400px" alt="William Miles">
            </p>
        </div>

         <!-- === MEMBER AMANDA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Amanda Åkerlind Matz</h3>
                <!-- <p><strong>DJ-namn: </strong></p> -->

                <!-- <p><strong>Ansvarspost: </strong></p> -->

                <!-- <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>Electro House, Hip Hop, RnB, Dancehall &amp; Reggaeton</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/amanda.jpg" width="400px" alt="Amanda Åkerlind Matz">
            </p>
        </div>

         <!-- === MEMBER LINDA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Linda Bui</h3>
                <!-- <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>Hip Hop, RnB, Dancehall, Reggeaton &amp; Trap</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/linda.jpg" width="400px" alt="Linda">
            </p>
        </div>


        <!-- === MEMBER LINUS === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Linus Wåreus</h3>
               <!--  <p><strong>DJ-namn: </strong>Linus Wåreus</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>House, Electro House, Progressive House, Techno, Trance, Pop &amp; Oldies</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/linus.jpg" width="400px" alt="Linus Wåreus">
            </p>
        </div>

        <!-- === MEMBER ROSAN === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Rosan Tekin</h3>
                <!-- <p><strong>DJ-namn: </strong>DJ Peshmerga</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>Electro House &amp; Progressive House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/rosan.jpg" width="400px" alt="Rosan Tekin">
            </p>
        </div>

        <!-- === MEMBER MG === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>André "MG" Wisén</h3>
                <!-- <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>Schlager, 80-tal &amp; Radio-hits</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/mg-v1.jpg" width="400px" alt="MG">
            </p>
        </div>

        <!-- === MEMBER LOVISA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Lovisa Börthas</h3>
                <!-- <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>Oldies, Pop</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/lovisa.jpg" width="400px" alt="Lovisa">
            </p>
        </div>

        <!-- === MEMBER OLIVIA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Olivia Bengtsson</h3>
                <!-- <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>HipHop, RnB</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/olivia.jpg" width="400px" alt="Olivia">
            </p>
        </div>

        <!-- === MEMBER BOEL === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Boel Wincent</h3>
                <!-- <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p> -->

                <p><strong>Genres: </strong>Tech House, Deep House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/boel.jpg" width="400px" alt="Olivia">
            </p>
        </div>   


        <!-- === MEMBER OLDIE === -->

        <!--<div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Thomas Li</h3>
                <p><strong>DJ-namn: </strong>Mr. Trololol</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Electro Swing, Electro House &amp; Progressive House</p>

                <p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/thomas.jpg" width="400px" alt="Thomas Li">
            </p>
        </div>-->  
    </div>
{% endblock %}
