{% extends '@layouts/default.twig' %}

{% block page_content %}
    <div class="page-members page-container container" ng-controller="MembersController as about">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Medlemmar</h1>

                <p>
                    I Platoon DJs har vi ett system med "Members" och "Prospects". För att bli en Member, det vill säga ha möjlightet att självständigt boka och spela på fester och evenemang, måste man ha följt med på flera spelningar som Prospect, uppvisat att man har en god förstålese för olika musikgenrer och är serviceinriktad och genomfört ett praktiskt DJ-prov. Detta gör att vi har en hög stadard på alla etablerade medlemmar. Här nedan presenteras alla våra aktiva Members.
                </p>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Robin Setterwall Gabrielsson</h3>
                <p><strong>DJ-namn: </strong>Rob-a-dob-a-licious</p>

                <p><strong>Ansvarspost: </strong>Ordförande</p>

                <p><strong>Genres: </strong>Trance, Techno &amp; Big Room House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/robin.jpg" width="400px" alt="Robin Setterwall Gabrielsson">
            </p>
        </div>

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Linus Wåreus</h3>
                <p><strong>DJ-namn: </strong>Linus Wåreus</p>

                <p><strong>Ansvarspost: </strong>Bokningsansvarig, Vice Ekonomiansvarig</p>

                <p><strong>Genres: </strong>House, Electro House, Progressive House, Techno, Trance, Pop &amp; Oldies</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/linus.jpg" width="400px" alt="Linus Wåreus">
            </p>
        </div>

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Amanda Åkerlind Matz</h3>
                <p><strong>DJ-namn: </strong>DJ Mtz Mtz</p>

                <p><strong>Ansvarspost: </strong>Marknadsföringsansvarig</p>

                <p><strong>Genres: </strong>Progressive House, Hip hop &amp; RnB</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/amanda.jpg" width="400px" alt="Amanda Åkerlind Matz">
            </p>
        </div>

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Junehee Han</h3>
                <p><strong>DJ-namn: </strong>Johnny Boy</p>

                <p><strong>Ansvarspost: </strong>Programgruppsansvarig</p>

                <p><strong>Genres: </strong>Hip hop &amp; RnB</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/junehee.jpg" width="400px" alt="Junehee Han">
            </p>
        </div>

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Arvid Widerberg</h3>
                <p><strong>DJ-namn: </strong>Arv The Larv</p>

                <p><strong>Ansvarspost: </strong>Ölansvarig</p>

                <p><strong>Genres: </strong>House, Tech House &amp; Deep House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/arvid.jpg" width="400px" alt="Arvid Widerberg">
            </p>
        </div>

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Rosan Tekin</h3>
                <p><strong>DJ-namn: </strong>DJ Peshmerga</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>Genres: </strong>Electro House &amp; Progressive House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/rosan.jpg" width="400px" alt="Rosan Tekin">
            </p>
        </div>

        <!--<div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Thomas Li</h3>
                <p><strong>DJ-namn: </strong>Mr. Trololol</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>Genres: </strong>Electro Swing, Electro House &amp; Progressive House</p>

                <p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/thomas.jpg" width="400px" alt="Thomas Li">
            </p>
        </div>-->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>William Miles</h3>
                <p><strong>DJ-namn: </strong>Wigga Wille</p>

                <p><strong>Ansvarspost: </strong>Internansvarig</p>

                <p><strong>Genres: </strong>Melbourne Bounce &amp; Progressive House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/william.jpg" width="400px" alt="William Miles">
            </p>
        </div>
    </div>
{% endblock %}
