{% extends '@layouts/default.twig' %}

{% block page_content %}
    <div class="page-members page-container container" ng-controller="MembersController as about">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Medlemmar</h1>

                <p>
                    I Platoon DJs har vi ett system med "Members" och "Prospects". För att bli en Member, det vill säga ha möjlightet att självständigt boka och spela på fester och evenemang, måste man ha följt med på flera spelningar som Prospect, uppvisat att man har en god förstålese för olika musikgenrer och är serviceinriktad och genomfört ett praktiskt DJ-prov. Detta gör att vi har en hög stadard på alla etablerade medlemmar. Här nedan presenteras alla våra aktiva Members.
                </p>
            </div>
        </div>

         <!-- === MEMBER AMANDA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Amanda Åkerlind Matz</h3>
                <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong>Ordförande</p>

                <p><strong>E-post: </strong><a href="mailto:%20ordf@platoon.se">ordf@platoon.se</a></p>

                <p><strong>Genres: </strong>Electro House, Hip Hop, RnB, Dancehall &amp; Reggaeton</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/amanda.jpg" width="400px" alt="Amanda Åkerlind Matz">
            </p>
        </div>

         <!-- === MEMBER LINDA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Linda Bui</h3>
                <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong>Vice Ordförande</p>

                <p><strong>E-post: </strong><a href="mailto:%20info@platoon.se">info@platoon.se</a></p>

                <p><strong>Genres: </strong>Hip Hop, RnB, Dancehall, Reggeaton &amp; Trap</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/linda.jpg" width="400px" alt="Linda">
            </p>
        </div>

        <!-- === MEMBER ARVID === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Arvid Widerberg</h3>
                <p><strong>DJ-namn: </strong>Arv The Larv</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>House, Tech House &amp; Deep House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/arvid.jpg" width="400px" alt="Arvid Widerberg">
            </p>
        </div>

        <!-- === MEMBER ROBIN === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Robin Setterwall Gabrielsson</h3>
                <p><strong>DJ-namn: </strong>Rob-a-dob-a-licious</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Trance, Techno &amp; Big Room House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/robin.jpg" width="400px" alt="Robin Setterwall Gabrielsson">
            </p>
        </div>

        <!-- === MEMBER LINUS === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Linus Wåreus</h3>
                <p><strong>DJ-namn: </strong>Linus Wåreus</p>

                <p><strong>Ansvarspost: </strong>Bokningsansvarig</p>

                <p><strong>E-post: </strong><a href="mailto:%20bokning@platoon.se">bokning@platoon.se</a></p>

                <p><strong>Genres: </strong>House, Electro House, Progressive House, Techno, Trance, Pop &amp; Oldies</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/linus.jpg" width="400px" alt="Linus Wåreus">
            </p>
        </div>

        <!-- === MEMBER FRANS === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Frans Karlsson</h3>
                <p><strong>DJ-namn: </strong>FRANSWTF!</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Ninja Trap</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/frans.jpg" width="400px" alt="Frans Karlsson">
            </p>
        </div>

        <!-- === MEMBER JUNEHEE === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Junehee Han</h3>
                <p><strong>DJ-namn: </strong>Johnny Boy</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Hip hop &amp; RnB</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/junehee.jpg" width="400px" alt="Junehee Han">
            </p>
        </div>

        <!-- === MEMBER ROSAN === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Rosan Tekin</h3>
                <p><strong>DJ-namn: </strong>DJ Peshmerga</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Electro House &amp; Progressive House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/rosan.jpg" width="400px" alt="Rosan Tekin">
            </p>
        </div>

        <!-- === MEMBER OLDIE === -->

        <!--<div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Thomas Li</h3>
                <p><strong>DJ-namn: </strong>Mr. Trololol</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Electro Swing, Electro House &amp; Progressive House</p>

                <p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/thomas.jpg" width="400px" alt="Thomas Li">
            </p>
        </div>-->

        <!-- === MEMBER WILLIAM === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>William Miles</h3>
                <p><strong>DJ-namn: </strong>Wigga Wille</p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Bounce, House &amp; Oldies</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/william.jpg" width="400px" alt="William Miles">
            </p>
        </div>

        

        <!-- === MEMBER FELIX === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Felix De Silva</h3>
                <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Trap, Electro House, Progressive House &amp; Deep House</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/felix.jpg" width="400px" alt="Felix">
            </p>
        </div>

        <!-- === MEMBER MG === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>André "MG" Wisén</h3>
                <p><strong>DJ-namn: </strong>MG</p>

                <p><strong>Ansvarspost: </strong>IT-ansvarig</p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong>Schlager, 80-tal &amp; Radio-hits</p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/mg-v1.jpg" width="400px" alt="MG">
            </p>
        </div>

        <!-- === MEMBER LOVISA === -->

        <div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <h3>Lovisa Börthas</h3>
                <p><strong>DJ-namn: </strong></p>

                <p><strong>Ansvarspost: </strong></p>

                <p><strong>E-post: </strong></p>

                <p><strong>Genres: </strong></p>

                <!--<p><strong>Beskrivning:</strong></p>
                <p> 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>-->
            </div>

            <p class="text-center col-md-5">
                <img class="img-responsive img-thumbnail" src="/img/members/lovisa.jpg" width="400px" alt="Lovisa">
            </p>
        </div>
     


    </div>
{% endblock %}
